
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head th:replace="common/libAdmin :: libheaderadmin"></head>
</head>
<body>
<div ng-controller="adminCtrl" style="background-color: rgb(37, 244, 5)">
    <div th:replace="common/navbarAdmin :: headerAdmin"></div>
    <div class="d-flex">
        <div th:replace="common/navbarAdmin :: sidenavAdmin"></div>
        <div class="pt-3" style="width: calc(100% - 250px);">
            <div class="container">
                <h3>Hoa Don</h3>
                <c:if test="${not empty message}">
                    <div class="alert alert-warning" role="alert">
                            ${message}
                    </div>
                </c:if>
                <form action="/ban-hang/thd" method="post">

                    <td style="display: flex; justify-content: right;">
                        <button class="btn btn-primary btn-sm">Tao hoa don</button>
                    </td>


                    <div>
                        <table class="table table-bordered table-hover table-striped mt-5">
                            <thead>
                            <tr>
                                <th>Ma</th>
                                <th>Ngay Tao</th>
                                <th>Ten Nhan Vien</th>
                                <th>Trang Thai</th>
                                <th>TT</th>
                            </tr>
                            </thead>

                            <tbody>
                            <c:forEach items="${data}" var="hd">
                                <tr>
                                    <td>${hd.id}</td>
                                    <td>${hd.ngayLap}</td>
                                    <td>${hd.taiKhoan.tenDangNhap}</td>
                                    <td>${hd.trangThaiThanhToan}</td>
                                    <th style="width: 1px;" class="text-nowrap">
                                        <a class="btn btn-primary mb-3" style="color: white" href="/ban-hang/detail/${hd.id}">Chon</a>

                                        <a class="btn btn-danger mb-3" style="color: white" href="/ban-hang/delete/${hd.id}">Huy</a>
                                    </th>
                                </tr>
                            </c:forEach>
                            </tbody>
                        </table>
                    </div>
                </form>






<%--                <form action="/ban-hang/add" method="post">--%>
<%--                    <div class="container">--%>
<%--                        <!-- The Modal -->--%>
<%--                        <div class="modal fade" id="myModal">--%>
<%--                            <div class="modal-dialog">--%>
<%--                                <div class="modal-content">--%>

<%--                                    <!-- Modal Header -->--%>
<%--                                    <div class="modal-header">--%>
<%--                                        <h4 class="modal-title">Nhap so luong san pham</h4>--%>
<%--                                        <button type="button" class="close" data-dismiss="modal">&times;</button>--%>
<%--                                    </div>--%>

<%--                                    <!-- Modal body -->--%>
<%--                                    <div class="modal-body">--%>
<%--                                        <p>SL<input type="number" name="soLuong"></p>--%>
<%--                                    </div>--%>

<%--                                    <!-- Modal footer -->--%>
<%--                                    <div class="modal-footer">--%>
<%--                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Them</button>--%>
<%--                                    </div>--%>

<%--                                </div>--%>
<%--                            </div>--%>
<%--                        </div>--%>
<%--                    </div>--%>
<%--                </form>--%>




















                <div class="container mt-2" style="min-height: calc(50vh - 61px);">

                    <!-- Xác nhận đơn hàng -->
                    <div class="">
                        <!-- Danh sách sản phẩm -->
                        <div class=" product-list">
                            <h2>Danh sach san pham da chon</h2>
                            <table class="table table-bordered table-hover table-striped mt-5">
                                <thead>
                                <tr>
                                    <th>Ma CTSP</th>
                                    <th>Ten San pham</th>
                                    <th>So Luong</th>
                                    <th>Don Gia</th>
                                    <th>Thanh Tien</th>
                                    <th colspan="2">TT</th>
                                </tr>
                                </thead>
                                <tbody>

                                <c:forEach var="hdct" items="${datahd}">
                                    <tr>
                                    <td>${hdct.ctsp_id}</td>
                                    <td>${hdct.ctsp.sanPham.tenSanPham}</td>
                                    <td>${hdct.soLuong}</td>
                                    <td>${hdct.donGia}</td>
                                    <td>${hdct.soLuong * hdct.donGia}</td>
                                    <th>
                                        <button class="btn btn-warning btn-sm">Sua</button>
                                        <button class="btn btn-danger btn-sm">Xoa</button>
                                    </th>
                                    </tr>
                                </c:forEach>
                                </tbody>
                            </table>


                        </div>












                        <table class="table table-bordered table-hover table-striped mt-5">
                            <thead>
                            <tr>
                                <th>Ma CTSP</th>
                                <th>Ten San Pham</th>
                                <th>So Luong</th>
                                <th>Mau Sac</th>
                                <th>Size</th>
                                <th>Chat Lieu</th>
                                <th>Don Gia</th>
                                <th>Anh san pham</th>
                                <th>TT</th>
                            </tr>
                            </thead>
                            <tbody>
                            <c:forEach items="${dataSP}" var="sp">
                                <tr>
                                    <td>${sp.id}</td>
                                    <td>${sp.sanPham.tenSanPham}</td>
                                    <td>${sp.soLuong}</td>
                                    <td>${sp.mauSac.tenMau}</td>
                                    <td>${sp.size.tenSize}</td>
                                    <td>${sp.chatLieu.tenChatLieu}</td>
                                    <td>${sp.donGia}</td>
                                    <td><img src="${sp.anhSanPham}" style="width: 50px; height: 50px;"></td>
                                    <td>
                                        <!-- Form riêng cho mỗi sản phẩm -->
                                        <form action="/ban-hang/addhdctt" method="post">
                                            <input type="hidden" name="idHoaDon" value="${hoaDon.id}" />
                                            <input type="hidden" name="id" value="${sp.id}" />
                                            <button type="submit" class="btn btn-primary">Chon mua</button>
                                        </form>
                                    </td>
                                </tr>
                            </c:forEach>
                            </tbody>
                        </table>





                        <!-- Form thông tin người mua -->










                        <div class="mb-auto mt-5">
                            <h2>Thong tin hoa don</h2>
                            <form>
                                <div class="form-group mt-3">
                                    <label class="form-label">Ma hoa don:</label>
                                    <input class="form-control" placeholder="" name="idHoaDon" value="${hoaDon.id}">
                                </div>
                                <div class="form-group mt-3">
                                    <label class="form-label">Ngay tao:</label>
                                    <input class="form-control" placeholder="" value="${hoaDon.ngayLap}">
                                </div>
                                <div class="form-group mt-3">
                                    <label class="form-label">Ten nhan vien:</label>
                                    <input class="form-control" placeholder="" value="${hoaDon.taiKhoan.tenDangNhap}">
                                </div>
                                <div class="form-group mt-3">
                                    <label class="form-label">Ten khach hang:</label>
                                    <input class="form-control" placeholder="" ng-model="xacNhanDonHang.soDienThoai">
                                </div>
                                <div class="form-group mt-3">
                                    <label class="form-label">So dien thoai:</label>
                                    <input class="form-control" placeholder="" ng-model="xacNhanDonHang.soDienThoai">
                                </div>

                                <div class="form-group mt-3">
                                    <label class="form-label">Ma giam gia:</label>
                                    <select class="custom-select">
                                        <option>-----Ma giam gia-----</option>
                                        <option>10k</option>
                                        <option>15k</option>
                                    </select>
                                </div>
                                <div>
                                    <h5 class="mt-3">Tong cong: <span class="text-danger"></span></h5>
                                </div>
                                <div class="form-group mt-3">
                                    <label class="form-label">Tien khach dua:</label>
                                    <input class="form-control" placeholder="" ng-model="xacNhanDonHang.gmail">
                                </div>
                                <div class="form-group mt-3">
                                    <label class="form-label">Tien thua:</label>
                                    <input class="form-control" placeholder="" ng-model="xacNhanDonHang.gmail">
                                </div>
                            </form>

                        </div>

                        <br>
                    </div>
                    <div>
                        <h3>Hinh thuc thanh toan:</h3>
                        <select name="" class="custom-select custom-select-lg">
                            <option name="">Tien mat</option>
                            <option name="">Chuyen khoan</option>
                            <option name="">Tien mat + chuyen khoan</option>
                        </select>
                    </div>

                    <!-- Nút Xác nhận đơn hàng -->
                    <div class="row mt-4 mb-3">
                        <div class="col-md-6 offset-md-6">
                            <button type="button" class="btn btn-primary btn-block">Xác nhận đơn hàng</button>
                        </div>
                    </div>











                </div>
        </div>
    </div>
</div>


</div>
</body>
</html>
